<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.just_me.task.audiolistener">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/lastfm"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lastfm"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="LAST_FM_API_KEY"
            android:value="e81f61890b7ff8633ca024d0faa449e7"/>

        <activity android:name=".activities.MainActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
